.landing-page {
    margin-top: 100px;
}

.shop-now-section {
    margin: 50px 100px;
    height: 500px;
    /* background-image: url(/src/Pages/Landing/book.jpg); */
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/989/948/original/happy-makar-sankranti-banner-background-design-with-colorful-kites-vector.jpg');
    background-position: center;
    background-size: cover;
    color: var(---secondary-color);
    padding: 200px 100px;
    position: relative;
}

.show-now-section-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-now-section h3 {
    font-size: 18px;
    line-height: 2.5;
}

.shop-now-section h1 {
    width: 500px;
    font-size: 50px;
    line-height: 0.8;
}

.shop-now-section h1 span {
    font-size: 65px;
    color: var(---primary-color);
}

.shop-now-btn {
    display: inline-block;
    margin-top: 35px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(---primary-color);
    color: var(---secondary-color);
    font-size: 20px;
    font-weight: bold;
}

.show-now-section-info > .shop-now-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 85px 170px;
}

.shop-now-btn:hover {
    background-color: transparent;
    color: var(---primary-color);
    transition-duration: 0.5s;
}

/* ----------------------------------------categories------------------------------------------------- */

.categories-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.categories-section-header {
    margin: 20px;
}

.categories-section-subheader {
    margin: 0px 0px 40px;
}

.categories-section ul {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    box-sizing: border-box;
}

.categories-section ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 175px;
    height: 175px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.4);
    margin: 0px 30px 20px;
    padding: 20px;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.categories-section ul li h3 {
    font-size: 16px;
    text-align: center;
    color: black;
}
.categories-section ul li p {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    color: black;
}

.categories-section ul li:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* -----------------------------------------------Footing------------------------------------------ */

.footing-section {
    width: 100%;
    height: 220px;
    font-family: 'Rubik', sans-serif;
    background-color: #1f1d1d;
    display: flex;
    justify-content: space-between;
    color: white;
}

.app-info {
    flex-basis: 50%;
    margin: 20px 100px;
    line-height: 2;
}

.app-info h1 {
    font-size: 22px;
}
.app-info h3 {
    font-size: 16px;
    font-weight: 200;
}

.app-info p i {
    text-decoration: line-through;
}

.resources-sub-section,
.contact-sub-section {
    margin: 20px 100px;
    line-height: 2;
}
.resources-sub-section h3,
.contact-sub-section h3 {
    font-weight: 200;
    font-size: 18px;
}

.resources-links,
.contact-links {
    display: flex;
    flex-direction: column;
}

.resources-links a,
.contact-links a {
    color: white;
    font-weight: 200;
}

/* ---------------------------------------------mobileview-------------------------------------- */

@media screen and (max-width: 768px) {
    .shop-now-section {
        margin: 20px;
        height: 300px;
        padding: 150px 10px;
        background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/makar-sankranti-design-template-92d1fe5ffbc520213697713d453e3761_screen.jpg?ts=1640523739');
    }
    .shop-now-section h3 {
        font-size: 12px;
        line-height: 2.5;
    }
    .shop-now-section h1 {
        width: 250px;
        font-size: 26px;
        line-height: 0.8;
    }
    .shop-now-section h1 span {
        font-size: 35px;
        color: var(---primary-color);
    }

    .shop-now-btn {
        margin-top: 10px;
        padding: 10px 15px;
        font-size: 15px;
        font-weight: 600;
        width: max-content;
    }

    .show-now-section-info > .shop-now-btn {
        margin: 0;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .categories-section-header {
        margin: 20px 0;
        font-size: 16px;
    }

    .categories-section-subheader {
        text-align: center;
        margin: 0px 15px 40px;
    }
    .categories-section ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footing-section {
        width: 100%;
        height: fit-content;
    }
    .app-info {
        flex-basis: 50%;
        line-height: 2;
        margin: 10px;
    }
    .app-info h1 {
        font-size: 16px;
    }
    .app-info h3 {
        font-size: 14px;
        font-weight: 200;
    }
    .resources-sub-section,
    .contact-sub-section {
        margin: 10px;
        line-height: 2;
    }
    .resources-sub-section h3,
    .contact-sub-section h3 {
        font-weight: 200;
        font-size: 14px;
    }

    .resources-links a,
    .contact-links a {
        font-size: 12px;
    }
}
