:root {
    ---primary-color: #007bb5;
    ---secondary-color: white;
}
.wishlist-page {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
}

.wishlist-page-heading {
    text-align: center;
    padding: 100px 0 20px 0;
    font-size: 22px;
}

.wishlist-items-list {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.empty-wishlist {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-wishlist h1 {
    margin: 20px;
}

/* ---------------------------mobileView-------------------------- */

@media screen and (max-width: 768px) {
    .wishlist-page-heading {
        font-size: 16px;
    }

    .empty-wishlist h1 {
        margin: 20px;
        font-size: 16px;
    }
}
