#Christmas_Lights {
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 24;
}

.light_cord {
    fill: none;
    stroke: black;
}

.light_fixture {
    fill: gray;
}

.red_bulb {
    fill: red;
    stroke: #6d6d6d;
    stroke-miterlimit: 10;
}

.green_bulb {
    fill: green;
    stroke: #6d6d6d;
    stroke-miterlimit: 10;
}

.blue_bulb {
    fill: blue;
    stroke: #6d6d6d;
    stroke-miterlimit: 10;
}

.white_bulb {
    fill: white;
    stroke: #6d6d6d;
    stroke-miterlimit: 10;
}

.gold_bulb {
    fill: gold;
    stroke: #6d6d6d;
    stroke-miterlimit: 10;
}

/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@-webkit-keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1;
    }
}

@keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1;
    }
}

/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.blink-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-4 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.blink-5 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.blink-6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.blink-7 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-8 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.blink-9 {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
}

.blink-10 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@media screen and (max-width: 768px) {
    #Christmas_Lights {
        height: 50%;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
    }
}
