.wishlist-card {
    box-sizing: border-box;
    margin: 20px 0;
    width: 475px;
    height: 250px;
    display: flex;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: #f8f8f8;
    position: relative;
}

.book-details-wishlist {
    height: 200px;
    margin-top: 20px;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book-subdetails-wishlist {
    margin: 20px 0 0 0;
}

.book-thumbnail-wishlist {
    display: flex;
    align-self: center;
    margin-left: 20px;
    height: 200px;
    flex-basis: 30%;
}

.book-thumbnail-wishlist img {
    width: 120px;
    height: 175px;
    align-self: center;
}

.book-name-wishlist {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.author-tag-wishlist {
    font-size: 12px;
    color: gray;
}

.price-section-wishlist {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 700;
}

.btn-cart-in-wishlist {
    width: 100%;
    padding: 8px;
    margin-bottom: 7px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    background-color: var(---primary-color);
    color: var(---secondary-color);
}

.btn-delete-from-wishlist {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}

.btn-delete-from-wishlist:hover {
    color: red;
}

/* ---------------------------mobileview-------------------------- */
@media screen and (max-width: 768px) {
    .wishlist-card {
        width: 300px;
        height: 150px;
    }
    .book-details-wishlist {
        height: 100px;
        margin-top: 0px;
        flex-basis: 60%;
    }
    .book-subdetails-wishlist {
        margin: 10px 0 0 0;
    }
    .book-thumbnail-wishlist {
        margin-left: 10px;
        height: 100px;
    }
    .book-thumbnail-wishlist img {
        width: 80px;
        height: 120px;
    }

    .book-name-wishlist {
        font-size: 14px;
    }
    .author-tag-wishlist {
        font-size: 10px;
    }
    .price-section-wishlist {
        font-size: 16px;
        margin: 10px 0;
        font-weight: 600;
    }
    .btn-cart-in-wishlist {
        padding: 5px 8px;
        margin: 10px 0;
        border-radius: 10px;
        font-size: 12px;
    }
    .btn-delete-from-wishlist {
        padding: 10px;
    }
}
