.books-page {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.section-books {
    flex-basis: 80%;
    margin: 20px 0 20px 350px;
    font-family: 'Rubik', sans-serif;
}

.section-books-heading {
    font-size: 20px;
    margin: 20px 0 40px 0;
}

.section-books ul {
    display: flex;
    flex-wrap: wrap;
}

/* ---------------------------mobileview-------------------------- */
@media screen and (max-width: 768px) {
    .books-page {
        position: relative;
    }

    .section-books {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px 10px 0 10px;
        font-family: 'Rubik', sans-serif;
        z-index: -1;
    }
    .section-books-heading {
        font-size: 16px;
        margin: 20px 0 10px 0;
    }

    .section-books ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
