@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://boostmat-ui.netlify.app/components/component.css');

body {
    margin: 0;
    position: relative;
}

:root {
    ---primary-color: #007bb5;
    ---secondary-color: white;
}

.link {
    color: var(---primary-color);
}
