.error-page {
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page h1 {
    color: #007bb5;
    font-size: 30px;
    margin-bottom: 20px;
}

.error-img {
    margin-top: 20px;
    width: 500px;
    height: 350px;
    background: url('./error.svg');
    background-position: center;
    background-size: cover;
}

/* ---------------------------mobileview-------------------------- */
@media screen and (max-width: 768px) {
    .error-img {
        width: 100%;
        height: 250px;
    }
}
